<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
        crossorigin="anonymous">
</head>
<div class="content">
    <div  style="margin-left: 50px; margin-right: 50px;">
        <div class="row">
            <div class="col-sm-2">
                <button class="challenge btn btn-primary" data-toggle="modal" data-target="#challengeModal">Add challenge</button>
            </div>
            <!--<div class="col">
                <select class="form-control bs-component">
                    <option>Choose category</option>
                    <div *ngFor="let cat of categories$ | async; let ind = index;">
                        <option>{{cat.title}}</option>
                    </div>
                </select>
                <select class="form-control bs-component">
                        <option>Choose subcategory</option>
                        <div *ngFor="let subcat of subCategories$ | async; let ind = index;">
                            <option>{{subcat.title}}</option>
                        </div>
                    </select>
            </div>-->

        </div>
        <div class="row">
            <div *ngFor="let ch of challenges$ | async; let ind = index;">
                <div class="card border-success just-box" style="height: 260px;width: 220px">
                    <a href="javascript:;">
                        <div class="shadow">
                            <div class="middle">
                                <b style="font-size: 20px;">{{ch.title}}</b>
                                <br>
                                <div style="font-size: 12px">
                                        <b>
                                          <i class="fas fa-star" style="font-size:0.9em"></i>+{{ch.reward}} XP</b>
                                        <br>
                                        <b>
                                           <i class="fas fa-clock"></i> {{ch.daysNeeded}} days </b>
                                        <br>
                                        <i class="fas fa-user"></i> Completed by {{ch.completedBy}} challengers 
                                </div>
                            </div>
                            <img class="rounded mx-auto d-block image" src="{{ch.imgUrl}}" (click)="routeToChallenge(ch.id)" style="background-size: cover; height: 190px; width: 220px">

                        </div>
                    </a>
                    <div>
                        <div *ngIf="subCategories$ | async; let subCategories$;" style="text-align: left; margin-left: 18px; margin-top: 10px">
                            <h5 class="text-success" style="font-size: 15px">
                                {{subCategories$[ch.subcategory-1].title}}
                            </h5>
                            <h5 style="font-size: 15px">
                                <ngb-rating style="color: white" [readonly]="true" max="5" [rate]="ch.difficulty"></ngb-rating>
                            </h5>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Default pagination"></ngb-pagination>

<app-footer></app-footer>
<div id="challengeModal" class="modal fade" role="dialog">
    <app-add-challenge></app-add-challenge>
</div>
