<div class="content">
  <div class="container">
    <div class="row">
      <div class="col bs-component">
        <h1 class="text-primary">Leaderboard</h1>
      </div>
    </div>
    <table class="table">
      <tr>
        <th>PLACE</th>
        <th>USER</th>
        <th>EXP</th>
      </tr>
      <tr *ngFor="let u of sortedUsers$; let i=index;">
        <td>{{i+1}}</td>
        <td>
          {{u.username}}
        </td>
        <td>
          {{u.points}}
        </td>
      </tr>
    </table>
  </div>
  <ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Default pagination"></ngb-pagination>

</div>
<app-footer></app-footer>
