<div class="container content jumbotron">
  <div class="row">
    <div class="col-md-3">
      <img class="img" style="margin: auto; display: block"  src={{user.imgUrl}}
      />
      <h3 style="color: whitesmoke; margin-top: 5px; text-align: center">Level {{user.level}}</h3>
      <div class="progress">
        <div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
          <div style="color: white; text-align: left; margin-left: 5px;"><b>{{user.points}} / {{user.level * 100}} XP</b></div>

        </div>
      </div>
    </div>

    <div class="col-md-9">

          <h3 style="color: whitesmoke; margin-left: 20px; margin-top: 5px;">{{user.fullName}}</h3>
          <i><h5 style=" margin-left: 23px; margin-top: 5px;">{{user.username}}</h5> </i>
    </div>
  </div>
  <hr class="my-4">
  <br/>

  <h2>{{countDown | async | formatTime}}</h2>

  <!--<div class="row">
    <div class="col">
      <div style="padding-left: 20px; padding-right: 20px">
        <h2 class="text-primary" style="color: whitesmoke">Accepted challenges</h2>

        <ngx-carousel [inputs]="carouselTile" (carouselLoad)="carouselTileLoad($event)">
          <ngx-tile NgxCarouselItem *ngFor="let ch of userChallengesList$ | async">
            <div class="card border-success">

                <a href="javascript:;">
                  <div class="shadow" style="height: 160px">
                    <div class="middle">
                      <b style="font-size: 23px;">{{ch.challengeId}}</b>
                      <br>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </ngx-tile>
          <button NgxCarouselPrev class='leftRs'>&lt;</button>
          <button NgxCarouselNext class='rightRs'>&gt;</button>
        </ngx-carousel>
      </div>
    </div>
  </div>-->
  <!--userId: number;
    challengeId: number;
    startDate: Date;
    endDate: Date;
    challenge: ChallengeModel[];
    user: UserModel[];-->
  <div class="row">
    <h4 style="margin-left: 10px;">Accepted challeges</h4>
  </div>
  <div class="row">

    <div *ngFor="let ch of userChallengesList$ | async; let ind = index;">
      <div class="card border-success just-box" style="height: 260px;width: 220px">
        <a href="javascript:;">
          <div class="shadow">
            <div class="middle">
              <b style="font-size: 20px;">{{ch.challenge.title}}</b>
              <br>
              <div style="font-size: 12px">
                <b>
                  <i class="fas fa-star" style="font-size:0.9em"></i>+{{ch.challenge.reward}} XP</b>
                <br>
                <b>
                  <i class="fas fa-clock"></i> {{ch.challenge.daysNeeded}} days </b>
                <br>
                <i class="fas fa-user"></i> Completed by {{ch.challenge.completedBy}} challengers
              </div>
            </div>
            <img class="rounded mx-auto d-block image" src="{{ch.challenge.imgUrl}}" (click)="redirectToChallenge(ch.challenge.id)" style="background-size: cover; height: 190px; width: 220px">

          </div>
        </a>
        <div>
          <div *ngIf="subCategories$ | async; let subCategories$;" style="text-align: left; margin-left: 18px; margin-top: 10px">
            <h5 class="text-success" style="font-size: 15px">
              {{subCategories$[ch.challenge.subcategory-1].title}}
            </h5>
            <h5 style="font-size: 15px">
              <ngb-rating style="color: white" [readonly]="true" max="5" [rate]="ch.challenge.difficulty"></ngb-rating>
            </h5>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
