/* You can add global styles to this file, and also import other style files */
#footer {
  height: 40px;
  width: 100%;
  text-align: center;
  color: rgba(255,255,255,.5);
}
.content {
  min-height: calc(100vh - 100px);
  margin-top: 60px;
}
.register {
  margin-top: 80px;
}
body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #888;
  text-align: left;
  background-color: #060606;
}
.text-primary {
  color: rgba(42, 159, 214, 0.808) !important;
}
.text-info {
  color: #9933CC !important;
}
.text-right {
  text-align: right !important;
  display: block !important;
}
.text-muted {
  color: #555 !important;
}
.btn-outline-success {
  background-color: transparent;
  background-image: none;
  border-color: rgba(119, 179, 0, 0.288);
}
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #1d1d1d;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .3s ease;
  backface-visibility: hidden;
}
.shadow {
  text-align: left;
}
.shadow:hover .image {
  border-color: rgb(22, 121, 88) !important;
  opacity: 0.1;
}
.middle {
  transition: .3s ease;
  opacity: 0;
  position: absolute;
  text-align: left;
  margin-left: 8px;
  margin-top: 52px;
  color: rgb(255, 255, 255);
}
.shadow:hover .middle {
  opacity: 1;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #282828;
  border-radius: 0.3rem;
}

.border-success {
  border-color: rgb(54, 71, 104) !important;
}
.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.img-challenge-details{
  height: auto;
  width: inherit;
}
.just-box {
  margin: 10px;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}
table {  
  color: #fff;
  border-collapse: collapse;
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}