/* You can add global styles to this file, and also import other style files */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: rgba(255,255,255,.5);
}

.register {
  margin-top: 80px;
}
body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #888;
  text-align: left;
  background-color: #060606;
}
.text-primary {
  color: #2A9FD6 !important;
}
.text-info {
  color: #9933CC !important;
}
.text-right {
  text-align: right !important;
  display: block !important;
}
.text-muted {
  color: #555 !important;
}
.btn-outline-success {
  color: #77B300;
  background-color: transparent;
  background-image: none;
  border-color: #77B300;
}
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #1d1d1d;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.shadow {
  text-align: left;
}
.shadow:hover .image {
  border-color: rgb(22, 121, 88) !important;
  opacity: 0.15;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  text-align: left;
  margin-left: 20px;
  margin-top: 70px;
  color: rgb(255, 255, 255);
}
.shadow:hover .middle {
  opacity: 1;
}



.border-success {
  border-color: #77B300 !important;
}
.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.text-success {
  color: #77B300 !important;
}

