<div class="container about content">
  <div class="row">
    <div class="col-md-4" style="display: inline" style=" text-align: center">
      <img src="../../assets/images/monika.png" >
      <h3> Monika </h3>
      <div >Lorem ipsum dolor sit amet,
        consectetur adipiscing elit.
        Quisque auctor, augue sit amet euismod lacinia,
        dolor ipsum malesuada nunc, sit amet maximus neque
         nunc eu tellus. Fusce iaculis vitae metus nec rutrum.
         Vestibulum sodales a enim eget pretium. Sed vulputate massa
          et vehicula euismod. Suspendisse potenti. Aliquam vehicula
          blandit mi quis gravida. Maecenas nec gravida lectus, sed porta metus.</div>
    </div>

    <div  class="col-md-4" style="display: inline" style=" text-align: center">
      <img src="../../assets/images/kristina.jpg" >
      <h3> Kristina </h3>
      <div >Lorem ipsum dolor sit amet, consectetur adipiscing
        elit. Quisque auctor, augue sit amet euismod lacinia,
         dolor ipsum malesuada nunc, sit amet maximus neque nunc
         eu tellus. Fusce iaculis vitae metus nec rutrum. Vestibulum
         sodales a enim eget pretium. Sed vulputate massa et vehicula euismod.
          Suspendisse potenti. Aliquam vehicula blandit mi quis gravida.
           Maecenas nec gravida lectus, sed porta metus.</div>
    </div>

    <div class="col-md-4" style="display: inline;" style=" text-align: center">
      <img src="../../assets/images/ignas.jpg " >
      <h3> Ignas </h3>
      <div >Lorem ipsum dolor sit amet, consectetur adipiscing
        elit. Quisque auctor, augue sit amet euismod lacinia,
        dolor ipsum malesuada nunc, sit amet maximus neque nunc eu
         tellus. Fusce iaculis vitae metus nec rutrum. Vestibulum
         sodales a enim eget pretium. Sed vulputate massa et vehicula
          euismod. Suspendisse potenti. Aliquam vehicula blandit mi quis gravida.
           Maecenas nec gravida lectus, sed porta metus.</div>
    </div>
  </div>


</div>

<app-footer></app-footer>


